
.container {
    max-width: 1100px;
}

header {
    background-image: url('assets/fond1.png');
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
}

.logoname, .logo{
    width: 100%;
    position: relative;
    animation: mymove 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

@keyframes mymove {
  from {top: 40px;right: 90px;}
  to {top: 0px;right: 0px;}
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.soustitre{
    position: relative;
    top: -15px; left: 60px;
    color:#A0DCEA;
}

.title-color, .logoname{
    color: #2094C6;
}

.title {
    color: #2094C6;
    font-size: 45px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    animation-name: titleanim;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
    animation-delay: 0.5s
}

@keyframes titleanim {
    from {top: 450px;}
    to {top: 340px; color:#2094C6;}
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.btn {
    background-color: #8BD6AE;
    border-radius: 20px;
    border-style: hidden;
    color: white;
    font-weight: bold;
}

.logo{
    width: 60px;
}

#apropos{
    position: relative;
    animation: moveap 1s;
    animation-timing-function: ease-in-out;
}

@keyframes moveap {
    from {left: 60px;}
    to {left: 0px;}
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#nosprest{
    position: relative;
    animation: moveap 1s;
    animation-timing-function: ease-in-out;
}

#row-prestations{
    background-image: url('assets/fond2.png');
    background-size: cover;
}

#row-prestations h1 , h4 {
    color:#274393 ;
}

#row-prestations p{
    color:#2094C6 ;
}

.row{
    margin: 0;
}

#row-prestations img{
    border-radius: 50%;
    width: 50%;
}

#row-team{
    background-color: #2094C6;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#row-team img{
    border-radius: 50%;
    width: 300px;
}

#row-team li{
    font-size: smaller;
}

#row-services img{
    border-radius: 50%;
    width: 300px;
}


#row-team p{
    font-size: 14px;
}

#row-team h1 , p{
    color: white;
}

#row-services p{
    font-size: 14px;
}


#row-formules{
    background-color:#2094C6;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

#row-formules h1{
    color: #8BD6AE;
}

#row-formules h6{
    color: #8BD6AE;
}

#row-formules h2{
    color: #8BD6AE;
}

#row-formules ul{
    text-align: left;
}

.cercle{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color:white;
}

#row-contact{
    background-image: url('assets/fond3.png');
    background-size: cover;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    color: #2094C6;
}

#row-contact input{
    color: #2094C6;
}

.form-control{
    border-radius: 15px;
}

footer{
    background-color:#8BD6AE;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

footer a{
    text-decoration: none;
    color: white;
}

#scrollUp img{
    position: fixed;
    border-radius: 50%;
    width: 50px;
    max-height: 50px;
    bottom : 10px;
    right: 25px;
    opacity: 0.8;
}

@media screen and (max-width:992px){
    .navbar-nav{
        background-color:#2094C6;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        padding-left: 20px;    
        font-size: 20px;
    }

    .logoname{
        max-width: 80%;
        margin-top: 30px;
    }

    header{
        background-image: url('assets/fondp1.png');
    }


    #row-prestations{
        background-image: url('assets/fondpetit.png');
    }

    #row-contact{
        background-image: url('assets/fondpetitc.png');
    }

    .titre{
        margin-top: 40px;
        width: 95%;
        text-align: center;
    }

    #row-prestations{
        background-image: url('assets/fondpetitf.png');
    }
}

@media screen and (max-width:610px){
    .logoname{
        max-width: 70%;
        margin-top: 30px;
    }
}    

@media screen and (max-width:440px){

    .logoname{
        max-width: 65%;
        margin-top: 30px;
        margin-left: 0;
    }
    .col p, ul{
        font-size: smaller;
    }
    #row-prestations col{
        display: block;
        
    }
    
}

nav{
    z-index: 100;
}